<?xml version="1.0" encoding="utf-8"?>
<PrismTenant Key="17aaedc1-ea01-f94e-7825-a5261d1ad818" Alias="prism-reference" Level="1">
  <Info>
    <Name>Prism Reference</Name>
    <Hostname>prismreference.com</Hostname>
    <AllowBiometricLogin>true</AllowBiometricLogin>
  </Info>
  <Identity>
    <EntraTenantId>{{PRISM_REFERENCE_ENTRA_TENANT_ID}}</EntraTenantId>
    <EntraClientId>{{PRISM_REFERENCE_ENTRA_CLIENT_ID}}</EntraClientId>
    <SecretKeyName>{{PRISM_REFERENCE_SECRET_KEY_NAME}}</SecretKeyName>
  </Identity>
  <Branding />
  <MobileBranding />
</PrismTenant>
